<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <link rel="stylesheet" type="text/css" href="style/style.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script type="text/javascript">$(window).on('load', function () {
    var $preloader = $('#p_prldr'),
            $svg_anm   = $preloader.find('.svg_anm');

    $.ajax({
      url: "/login",
      type: "GET",
      success: function (res) {
        console.log("RESPONSE: ", res);
        if(res) {
          var UserEmail = res.UserEmail;
          var RealName = res.RealName;
          var RealSurName = res.RealSurName;
          //CHAT
          if(RealName == undefined) {
            window.location.replace("MyOffice.html");

          } else {
            $preloader.delay(1000).fadeOut('slow');
            setTimeout(function () {
              $("body").css("overflow-y","auto");
            },1500)
          }
          if (!window.WebSocket) {
            document.body.innerHTML = 'WebSocket в этом браузере не поддерживается.';
          }

          // создать подключение
            var socket = new WebSocket("ws://tvolex.herokuapp.com/chat");

          // отправить сообщение из формы publish

          document.forms.publish.onsubmit = function() {
            var outgoingMessage = this.message.value;

            socket.send(RealName+ " : " +  outgoingMessage);
            return false;
          };

          // обработчик входящих сообщений
          socket.onmessage = function(event) {
            var incomingMessage = event.data;
            showMessage(incomingMessage);
          };

          // показать сообщение в div#subscribe
          function showMessage(message) {
            var messageElem = document.createElement('div');
            messageElem.appendChild(document.createTextNode(message));
            document.getElementById('subscribe').appendChild(messageElem);
          }




          $("#HelloUser").append("Hello, " + UserEmail);
          if(RealName) {
            $("#FormRealName").remove();
            $("#realuser").append(RealName);
            $("#surname").append(RealSurName);
            $("#email").append(UserEmail);
          } else {
            $(".RealUserInfo").remove();
          }

        } else if(res == null) {
          window.location.replace("Enter.html");
        }
      }
    });





  });</script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
  <script src="scripts/cookie.js"></script>


</head>
<header>
  <div class="dropdown">
    <button class="btn  btn-primary" style="height:45px;width: 100px" data-toggle="dropdown">Menu </button>
    <ul class="dropdown-menu" role="menu" >
      <li><a   href="/index">Home</a></li>
      <li><a  href="/AboutUs">About Us</a></li>
      <li><a  href="/MyOffice">Account</a></li>
      <li><a  href="/Enter">Sign In</a></li>
    </ul>
    <input type="button" id="btnExit" value="Exit" class="btn btn-danger"  />
  </div>
  <script>
    if($.cookie("btnExit") == undefined) {
      $("#btnExit").remove();
    }
    $("#btnExit").click(function () {
      $.removeCookie('btnExit');
      $.ajax({
        url: "/delete",
        type: "POST",
        success:function (res) {
          if(res) {
            window.location.href = "/index";
          }
        },
        error: function (err) {
          console.log("Error", err);
          alert("Error", err);
        }
      });
      $("#btnExit").remove();
    });


  </script>
</header>
<body>
<div id="p_prldr">
  <div class="contpre"><span class="svg_anm" ></span><br >
    <h1 style="letter-spacing: 20px"><b>loading</b></h1><br>
  </div>
</div>
<br> <br> <br>

<!-- форма для отправки сообщений -->
<form name="publish" class="publish">
  <input type="text" id="inputMessage" name="message" placeholder="Enter message" />

  <input type="submit" id="SendMessage" data-title="Enter your real name" value="Отправить" class="btn btn-success"/>
</form>

<!-- здесь будут появляться входящие сообщения -->
<div id="subscribe"></div>



</body>
</html>
