<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>My office</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style/header.css">
    <link rel="stylesheet" href="style/MyOfficeStyle.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/async/2.5.0/async.min.js"></script>
    <script>

    </script>
</head>

<body  >
<header>
    <a id="btnExit" value="Exit" align="center">
        <span>Exit</span>
    </a>

    <button class="btnMenu" id="ShowDropDown" onclick="ShowDropDown(this)"  >Menu </button>
    <ul class="MenuDropDown"  name="Menu" id="DropDown" type="none"  hidden="hidden" align="center">
        <a href="/index"><li>Home</li></a>
        <a href="/AboutUs"><li>About Us</li></a>
        <a href="/MyOffice"><li>Account</li></a>
        <a href="/Enter"><li>Sign In</li></a>
    </ul>

    <script>
//        var dropDown = $("#DropDown");
//
//        if($.cookie("btnExit") == undefined) {
//            $("#btnExit").remove();
//        }
//        $("#btnExit").click(function () {
//            $.removeCookie('btnExit');
//            $.ajax({
//                url: "/delete",
//                type: "POST",
//                success:function (res) {
//                    if(res) {
//                        window.location.href = "/index";
//                    }
//                },
//                error: function (err) {
//                    console.log("Error", err);
//                    alert("Error", err);
//                }
//            });
//            $("#btnExit").remove();
//        });
//        function ShowDropDown(element) {
//
//            if(element.id == "ShowDropDown") {
//                dropDown.show("medium");
//                element.id = "HideDropDown";
//            } else {
//                dropDown.hide("medium");
//                element.id = "ShowDropDown";
//            }
//            element.onblur = function () {
//                dropDown.hide("slow");
//                element.id = "ShowDropDown";
//            }
//
//        }

    </script>
</header>
<div id="bgAvatar" hidden="hidden"></div>

<div class="ChangeSaved" align="center"></div>
<br>
<div class="UserInfo" align="center">
    <hr>
<h1 id="HelloUser"></h1>
<div class="row-fluid" >

    <div class="col-md-6">
        <h3><b>Your avatar</b></h3>
        <br>
   <div  class="UserAvatar" >
       <img id="avatar" src="style/img/tylenb.jpg" data-toggle="modal" data-target="#modal-1" alt="" >
   </div>
        <div class="modal fade" id="modal-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content " >
                    <div class="modal-header">
                        <h4 class="modal-title" align="center">Photo
                            <button class="close"  type="button" data-dismiss="modal"> &times; </button>
                        </h4>
                    </div>
                    <div id="modalBody" class="modal-body">
                        <script>
                            $("#avatar").click(function () {
                                $("#avatar").clone().attr("class","OpenAvatar").appendTo($("#modalBody"));
                                $(".OpenAvatar").removeAttr("id","avatar");
                                $("#close").click(function () {
                                    $("#modalBody").empty();
                                });
                                $("#modal-1").click(function () {
                                    $("#modalBody").empty();
                                });
                                $(".close").click(function () {
                                    $("#modalBody").empty();
                                });
                            });
                        </script>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" id="close" type="button" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div></div>
        <hr>
        <div class="RealUserInfo">
            <h4  id="realuser" >Name : {{Name}}</h4>
            <hr>
            <h4  id="surname">Sur Name : {{Surname}}</h4>
            <hr>
            <h4  id="email">Email : {{Email}}</h4>
            <hr>
        </div>
    </div>
    <div class="col-md-6" align="center" >
        <hr  color="yellowgreen" style=" height: 2px;">
        <div class="RImageBtn" style="background-image: url('//unsplash.it/400/150?random');">
            <a href="/randomImages"><div class="BtnTitle"><b>Random image</b></div></a>
        </div>
        <hr>
        <div class="RImageBtn" style="background-image: url('http://journalismpakistan.com/news/By%20line%20a%20contentious%20issue.jpg');">
            <a href="/news"><div class="BtnTitle"><b>News</b></div></a>
        </div>
        <hr>
        <div class="RImageBtn" href="/Setting" style="background-image: url('http://endlessicons.com/wp-content/uploads/2012/11/setting-icon.png?w=540')">
            <a href="/setting"><div class="BtnTitle"><b>Setting</b></div></a>
        </div>
        <hr>
    </div>
</div>
</div>
<script>
    var RealName = document.getElementById("RealName");
    var RealSurName = document.getElementById("RealSurName");
    function ChangeSavedReal() {
        $(".ChangeSaved").html("<h2>Saved</h2>");
        $(".ChangeSaved").css("background-color","yellowgreen");
        $(".ChangeSaved").css("box-shadow","  0 0  10px 3px yellowgreen");
        $(".ChangeSaved").css("opacity","1");
        $(".ChangeSaved").css("margin-top","3%");
        setTimeout(function () {
            $(".ChangeSaved").css("opacity","0");
            $(".ChangeSaved").css("margin-top","-15%");
            window.location.reload();
        },3000);

    }
    function NoChangeSavedName() {
        $(".ChangeSaved").html("<h2>This name is exist</h2>");
        $(".ChangeSaved").css("background-color","red");
        $(".ChangeSaved").css("box-shadow","  0 0  10px 3px red");
        $(".ChangeSaved").css("opacity","1");
        $(".ChangeSaved").css("margin-top","4%");
        setTimeout(function () {
            $(".ChangeSaved").css("opacity","0");
            $(".ChangeSaved").css("margin-top","-15%");
        },3000);

    }
    $('#FormRealName').submit(function() {
       var data = $("#FormRealName").serializeArray();
        $.ajax({
            url: "/change",
            type: "POST",
            data: data,
            success: function (res) {
                console.log("Save : ", res);
                if(res.saved) {
                    ChangeSavedReal();
                } else if(!res.saved) {
                    console.log("Save : ", res);
                    NoChangeSavedName();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
        return false;
    });

</script>
</body>
</html>
